/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* RESET */
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* Floating utility */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

/* Position utility */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* HTML&Body property */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 930px;
}

/* Color utility */
.bg-turquoise {
    background-color: rgb(180, 208, 231);
}

.bg-blue {
    background-color: rgb(0, 94, 255);
    color: white;
}

.bg-black {
    background-color: black;
    color: white;
}

.text-blue {
    color: rgb(0, 94, 255);
}

/* General */
img {
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

/* Header */
header {
    height: 9vh;
    line-height: 9vh;
    font-size: 12px;
    font-weight: bold;
}

.logo {
    display: inline-block;
    margin-right: 2rem;
}

.logo>img {
    height: 70%;
    vertical-align: middle;
    margin-left: 1vw;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
    padding: 0.2rem 0.7rem;
}

.bg-blue a {
    color: white;
}

/* Jumbotron */
/* 
section#jumbotron {
    max-height: 1050px;
} */

.jumbotron-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 7vh;
}

.jumbotron-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 4vh;
}

.jumbotron-text {
    width: 35%;
    padding-bottom: 14vh;
}

.jumbotron-text p {
    margin-bottom: 3vh;
}

.jumbotron-text a {
    padding: 0.2rem 0.7rem;
}

.jumbotron-text p#cancel {
    margin-top: 1vh;
    font-size: 12px;
}

.fa-arrow-down {
    font-size: 30px;
}

.jumbotron-img {
    width: 55%;
}

.jumbotron-img>img {
    height: 52vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Main content */

.container {
    width: 70%;
    margin: 0 auto;
}

/* Pricelists */
section#pricelists {
    margin-top: 20vh;
}

#pricelists h1 {
    font-size: 40px;
    margin-bottom: 4vh;
}

.radio-buttons {
    margin-bottom: 2vh;
}

.radio-buttons input:checked {
    background-color: rgb(0, 94, 255);
}
