/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* RESET */
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* Floating utility */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

/* HTML&Body property */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Color utility */
.bg-turquise {
    background-color: rgb(180, 208, 231);
}

.bg-blue {
    background-color: rgb(0, 94, 255);
    color: white;
}

.bg-black {
    background-color: black;
    color: white;
}

.text-blue {
    color: rgb(0, 94, 255);
}
