/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* RESET */
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* Floating utility */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

/* HTML&Body property */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Color utility */
.bg-turquise {
    background-color: rgb(180, 208, 231);
}

.bg-blue {
    background-color: rgb(0, 94, 255);
    color: white;
}

.bg-black {
    background-color: black;
    color: white;
}

.text-blue {
    color: rgb(0, 94, 255);
}

/* General */
img {
    height: 100%;
}

/* Header */
header {
    height: 9vh;
    min-width: 930px;
    line-height: 9vh;
    font-size: 12px;
    font-weight: bold;
}

.logo {
    display: inline-block;
    margin-right: 2rem;
}

.logo>img {
    height: 70%;
    vertical-align: middle;
    margin-left: 1vw;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
    padding: 0.2rem 0.7rem;
}
